<launch>
    <arg name="robot_ip" default="192.168.1.51"/>
    <arg name="sim" default="false"/>
    <!-- launch the UR3 driver and Plannung -->
    <include file="$(find melkroboter_ur3_moveit_config)/launch/melkroboter_ur3_moveit_planning_execution.launch" >
        <arg name="sim" value="$(arg sim)"/>
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!-- Launch the astra camera -->
    <include file="$(find astra_launch)/launch/astra.launch" >
        <arg name="depth_registration" value="true" />
    </include>

    <!-- Launch the used nodes -->
    <node name="FilterNode" pkg="core" type="DepthFilter" launch-prefix="xterm -e" />
    <node name="RotateNode" pkg="core" type="RotateCloud"  launch-prefix="xterm -e"/> 
    <node name="SearchTeat" pkg="core" type="SearchTeat"  launch-prefix="xterm -e"/>
    <!-- Launch the RoboterNode in external console-->
    <node name="RoboterNode" pkg="core" type="RoboterNode" launch-prefix="xterm -e"  />
</launch>